@import "../../../styles/variables";

.theme-2-bg {
  background-color: $color-bg;
}
.logout-btn{
  text-transform: uppercase;
  font-weight: 600;
}

.text-gold{
  color: $color-secondary;
}

.navbar{
  background-color: $color-primary;
  color: $color-white;
}


.profile-info{
  background-color: #22574E;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.theme-2-btn {
  background-color: #3F4F2C !important;
  color: white !important;
}



::ng-deep .p-ripple.theme-2-select-btn.p-togglebutton{
  background-color: transparent !important;
  color: $color-white !important;
  border:none !important;
  .p-togglebutton-checked{
    background-color: $color-secondary !important;
    
  }
}


::ng-deep .theme-2-select-btn {

  .p-button {
    background-color: transparent;
    color: #64748b;
    border: 1px solid #cbd5e1;
    
    &:hover {
      background-color: #e2e8f0;
    }
  }

  .p-button.p-highlight {
    background-color: #3F4F2C !important;
    color: white !important;
    border-color: #3F4F2C !important;
  }
}



::ng-deep .p-togglebutton-checked .p-togglebutton-content,
::ng-deep .p-togglebutton-checked
{

  background-color: $color-secondary !important;
  color: $color-primary !important;
  padding: 10px !important;
  border-radius: 25px !important;
}

::ng-deep .p-togglebutton-content{
  background-color: transparent !important;
  color: $color-white !important;
  border-radius: 25px !important;

}