<div class="main-layout theme-2-bg">
  <!-- Navbar Top -->
  <div class="navbar px-3 py-2 flex justify-between items-center">
    <div class="logo-section flex items-center gap-3">
      <img src="assets/images/top-logo.png" alt="shield logo" class="" />
      <div class="flex flex-col">
        <h2 class="m-0 text-xl font-bold ">SecureSyria System</h2>
        <span class="text-xs text-gold mt-1">INTERIOR OPERATIONS — PROTOTYPE</span>
      </div>
    </div>

    <!-- Toggle Navigation -->
    <div class="flex justify-center">
      <p-selectButton [options]="viewOptions" [(ngModel)]="selectedView" optionLabel="label" optionValue="value" styleClass="theme-2-select-btn" [allowEmpty]="false"></p-selectButton>
    </div>


    <div class="profile-section flex items-center gap-5">
      <img src="assets/images/lang-Icon.svg" alt="lang" class="w-6" />      

        <div class="profile-info flex items-center gap-2 ">
          <img src="assets/images/User-profile.png" alt="profile" />
          <div class="flex flex-col">
            <span class="font-bold text-sm  m-0 leading-none">Ahmed Mohamed</span>
            <span class="text-xs text-gold mt-1">Premium Account</span>
          </div>
          <img src="assets/images/person.png" class="" alt="down arrow" />
        </div>
        
        <div (click)="logout()" class="logout-btn text-gold cursor-pointer">
          Logout
        </div>

    </div>




  </div>

  <div class="content-wrapper p-6 min-h-screen">
    


    <!-- Conditional Sub-views -->
    <div class="view-container  shadow-sm rounded-lg  border border-gray-100">
      <app-shmoos-detailed-statistics *ngIf="selectedView === 'Detailed Statistics'"></app-shmoos-detailed-statistics>
      <app-shmoos-dashboard *ngIf="selectedView === 'Dashboard'"></app-shmoos-dashboard>
      <app-shmoos-convicts *ngIf="selectedView === 'Convicts'"></app-shmoos-convicts>
    </div>

  </div>
</div>
