$color-primary: #194E45;
$color-secondary: #b9a779;
$color-white: #ffffff;
$color-gray: #404946;
$color-dark: #1B1C18;
$color-light: #EDEAE0;
$color-light-2: #FBF9F3;
$table-border-color: #C39600;
$color-bg: #F5F3ED;
$color-placeholder: #6B7280;
$color-border: #BFC9C5;
$color-danger: #BA1A1A;
