.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.custom-login-btn {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  color: #ffffff !important;
  padding: 1rem 1.5rem !important;
  display: flex !important;
  justify-content: center !important;
  transition: all 0.2s ease;
  
  &:hover {
    background-color: #123831 !important; /* darkened primary */
    border-color: #123831 !important;
  }
}

:host ::ng-deep {
  .p-button {
    font-family: 'Montserrat', sans-serif;
  }
}
